.order-container {
    width: 50%;
    margin: 30px auto;
}

.order-container .item {
    display: flex;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
}

.order-container .item .item-pic {
    width: 20%;
    height: 20vh;
}

.order-container .item .item-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.order-container .item article {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
}

.order-container .item article h3 {
    font-weight: 100;
}

.order-container .item article p {
    font-size: 13px;
}

.order-container .item article .total {
font-size: 17px;
}

.order-container .item article .total span {
   color: hotpink; 
}

.order-container .my_form {
    width: 100%;
    margin: 20px 0;
}

@media (max-width: 800px) {
    .order-container {
        width: 100%;
        margin: 30px auto;
    }

    .order-container .item .item-pic {
        width: 35%;
    }
}