.details-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 3em 5em;
    gap: 30px;
}

.details-container .image-items-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.details-container .image-items-container .item-one {
    width: 100%;
    height: 60vh;
}

.details-container .image-items-container .item-one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.details-container .image-items-container .item-two {
    width: 100%;
    height: 10vh;
    display: flex;
    gap: 10px;

}

.details-container .image-items-container .item-two img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    cursor: pointer;
}

/*  */

.details-container .details-items-container {
    width: 50%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.details-container .details-items-container .details h2 {
    color: hotpink;
    font-weight: 100;
    margin-bottom: 15px;
}

.details-container .details-items-container .details .decr {
    color: #555555;
    font-weight: lighter;
    font-size: 13px;
    padding-bottom: 20px;
    border-bottom: 1px solid hotpink;
}

.details-container .details-items-container .details article p {
    margin: 10px 0;
    font-size: 13px;
    color: #555555;
}

.details-container .details-items-container .details article p span {
    color: hotpink;
}

.details-container .details-items-container .details article p:last-child {
    border-bottom: 1px solid hotpink;
    padding-bottom: 20px;
}

.details-container .details-items-container .details main {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid hotpink;
    padding-bottom: 20px;
}

.details-container .details-items-container .details main p {
    width: 50%;
}

.details-container .details-items-container .details main ul {
    list-style: none
}

.details-container .details-items-container .details main ul li {
    margin-top: 10px;
    font-size: 13px;
    color: #555555;
}

.details-container .details-items-container p {
    font-size: 16px;
    line-height: 20px;
}

.details-container .details-items-container main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.details-container .details-items-container main p {
    background: rgba(255, 105, 180, .7);
    color: #fff;
    font-size: 12px;
    padding: 7px 12px;
    border-radius: 10px;
}

.details-container .details-items-container main button {
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 7px 20px;
    color: hotpink;
    transition: all ease-in .19s;
}

.details-container .details-items-container main .btn {
    display: flex;
    gap: 10px;
}

.details-container .details-items-container main .btn button:last-child{
    background-color: hotpink;
    color: white;
}

@media (max-width: 1000px) {
    .details-container {
        padding: .5em;
    }
}

@media (max-width: 800px) {
    .details-container {
        display: block;
    }

    .details-container .image-items-container {
        width: 100%;
    }

    .details-container .details-items-container {
        width: 100%;
    }

    .details-container .image-items-container .item-one {
    height: 45vh;
}

    .details-container .image-items-container .item-two {
        gap: 5px;
        width: 60%;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
    }

    
}