.customer-container {
    padding: 2em 7em;
    font-family: Arial, Helvetica, sans-serif;
}

.customer-container nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
}

.customer-container nav ul li a {
    text-decoration: none;
    color: hotpink;
}

.customer-container nav ul li:last-child a {
    color: #555555;
}

.customer-container .customer-info {
    margin: 30px 0;
}

.customer-container .customer-info section .info {
    width: 32%;
}

.customer-container .customer-info h2 {
    font-weight: 100;
    padding: 10px 0;
    border-bottom: 2px solid hotpink;
}

.customer-container .customer-info section {
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.customer-container .customer-info section .info h4 {
    font-weight: 100;
    color: #555555;
    font-size: 13px;
}

.customer-container .customer-info section .info p {
    font-weight: 100;
    color: #555555;
    font-size: 13px;
    background: rgba(255, 105, 180, .1);
    padding: 10px;
    border-left: 2px solid hotpink;
    border-radius: 10px;
    margin: 5px 0;
}

@media (max-width: 800px) {
    .customer-container {
        padding: 1em;
    }


    .customer-container .customer-info section .info {
        width: 40%;
    }
}

@media (max-width: 500px) {


    .customer-container .customer-info section .info {
        width: 100%;
    }
}


.customer-container .order-details h2 {
    font-weight: 100;
    padding: 10px 0;
    border-bottom: 2px solid hotpink;
}

.customer-container .order-details section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.customer-container .order-details section .info {
    width: 80%;
    height: auto;
    display: flex;
    gap: 15px;
}

.customer-container .order-details section .info .pic {
    width: 15%;
    height: 15vh;
}

.customer-container .order-details section .info .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.customer-container .order-details section .info main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.customer-container .order-details section .info main h5 {
    font-weight: 100;
}

.customer-container .order-details section .info main p {
    color: hotpink;
    font-size: 12px;
}

@media (max-width: 500px) {
   .customer-container .order-details section .info .pic {
    width: 30%;
    height: 15vh;
} 
}

.customer-container button {
    width: 100%;
    border: none;
    border-radius: 50px;
    outline: none;
    background: hotpink;
    padding: 10px 0;
    color: #fff;
    cursor: pointer;
    margin: 15px 0;
}

.sub {
    color: #555;
    font-weight: 200;
}

.sub span {
    color: hotpink;
}