header {
    background-color: hotpink;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    position: sticky;
    top: 0%;
    z-index: 100;
    border-bottom: 1px solid white;
}

h2 a {
    text-decoration: none;
    color: white;
}

header nav {
    display: flex;
    align-items: center;
    gap: 5px;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 5px;
}

header nav ul li {
    list-style: none;
    padding: 1em .5em;
    border-radius: 5px;
    transition: all ease-in-out .2s;
}


header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: all ease-in-out .2s;
}

header nav ul li:nth-child(3) {
    color: red;
    position: relative;
    cursor: pointer;
    color: white;
}

header nav ul li:nth-child(3) .tool-tip {
    position: absolute;
    left: 0%;
    top: 100%;
    background-color: orange;
    height: 0;
    overflow: hidden;
    transition: all ease-in-out .2s;
}

header nav ul li:nth-child(3):hover .tool-tip {
    height: auto;
}

header nav ul li a:hover,
header nav ul li a.active {
    border-bottom: 2px solid white;
    color: whitesmoke;
}

header nav .auth a button {
    background: transparent;
    border: 1px solid white;
    font-size: 15px;
    margin: 5px;
    padding: .5em .7em;
    border-radius: 100px;
    cursor: pointer;
    color: whitesmoke;
}

.logout {
    background: white;
    border: 1px solid white;
    font-size: 15px;
    margin: 5px;
    padding: .5em .7em;
    border-radius: 100px;
    cursor: pointer;
    color: hotpink;
}

header nav .auth a:nth-child(1) button {
    background-color: whitesmoke;
    color: hotpink;
    border: none;
}

header .hambuger {
    font-size: 1.3em;
    cursor: pointer;
    display: none;
}


header .cart {
    font-size: 2em;
    display: flex;
    text-decoration: none;
    color: white;
}

header .cart span {
    font-size: 17px;
}

@media (max-width: 800px) {
    header {
        padding: 1em;
    }

    header .hambuger {
        display: block;
    }

    header nav {
        width: 50%;
        height: auto;
        background-color: hotpink;
        position: absolute;
        top: 101%;
        left: -100%;
        z-index: 1;
        flex-direction: column;
        align-items: start;
        padding-bottom: 0px;
        overflow: hidden;
        transition: all ease-in-out .4s;
        padding-bottom: 15px;
    }

    header nav.toggle {
        left: 0%;
    }


    header nav ul {
        flex-direction: column;
        align-items: start;
    }

    header nav .auth {
        width: 95%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    header nav .auth a button {
        width: 100%;
    }
}

@media (max-width: 500px) {
    header nav {
        width: 100%;
    }
}