.slider-container {
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.slider-container div {
    width: 100%;
    height: 100%;
}

.slider-container div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}